.navbar {
    background-color: #66b3ff;
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-name {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin-right: 0px;
    margin-left: 0px;
    font-weight: 600;
}

.nav-title {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 1.5em; 
}

.navegar {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.navegar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.navegar a:hover {
    color: #007BFF;
}

.navegar a:hover svg {
    fill: #007BFF;
}
